extends layout

block nav
  - var weekr = true

//- Organization needs to be logged in
block content
  .row.text-center.w
    h1.c-g Weekly Agenda 
    - var weekstart = moment(today + page * interval)
    - var weekend = moment(today + (page + 1) * interval - interval/7)
    - var mToday = moment(today)
    - var isToday = weekstart.isSame(mToday, "day")
    #interval(style="display:none" data-i=interval data-t=today)
    h2= (isToday?"This Week: " : "") + weekstart.format("MMM Do") + " - " + weekend.format("MMM Do")
    .btn-group-justified.btn-group.m-t-b
      a.btn.btn-default(href=("?page=" + (page - 1) + "&types=" + types)) &laquo; Last week
      a.btn.btn-default(href=("?page=" + (page + 1) + "&types=" + types)) Next week &raquo;
  include filter-component
  include event-list-component
