style.
  @media(max-width: 800px) {
    .header-group small { display: none }
  }
.container.text-center.header-group.w
  img(src="/graphics/missouri-state-events-logo.png" style="padding:5%; max-width: 90%" alt="MissouriState.events")
  //-
    br
    small Stay informed about events on our campus.
    br
    a(href="/today") Today
    span &nbsp; - &nbsp; 
    a(href="/week") This Week