style.
  @media(max-width: 720px) {
    .header-group small { display: none }
  }
.container.text-center.header-group
  img(src="/graphics/missouri-state-events-logo.png" style="padding:5%; max-width: 90%" alt="MissouriState.events")
  br
  small Stay informed about events on our campus.