style.
  @media(max-width: 800px) {
    .header-group small { display: none }
  }
  .header-group .btn-group { height: 2em; width: 100%; }
  .header-group .btn-group .btn { border: none; border-radius: 0; }
  .header-group .btn-group .btn.selected { background: #deefff; }
  .ma { background: #e0e0e0 }
  .mb { background: #e8e8e8 }
  .mc { background: #efefef }
.container.text-center.header-group.w
  a.row(href="/")
    img(src="/graphics/missouri-state-events-logo.png" style="padding:5%; max-width: 90%" alt="MissouriState.events")
  block nav  
  .btn-group.btn-group-justified
    a.btn.btn-default.ma(href="/today" class=(todayr?"selected":"")) Today
    a.btn.btn-default.mb(href="/week" class=(weekr?"selected":"")) Week
    a.btn.btn-default.mc(href="/browse" class=(browser?"selected":"")) Browse
