style.
  @media(max-width: 800px) {
    .header-group small { display: none }
  }
  .header-group .btn-group { height: 2em; position: absolute; }
  .header-group .btn-group-justified { right:38px; left: 0; display: block; width: auto }
  .header-group .search-btn { top: 0; right: 0; width: 38px }
  .header-group .search-btn .btn { height: 32px }
  .header-group .btn-group .btn { border: none; border-radius: 0; }
  .header-group .btn-group .btn.selected { background: #deefff; }
  .ma { background: #e0e0e0 }
  .mb { background: #e8e8e8 }
  .mc { background: #efefef }
  .md { background: #f6f6f6 }
.container.text-center.header-group.w
  a.row(href="/")
    img(src="/graphics/missouri-state-events-logo.png" style="padding:5%; max-width: 90%" alt="MissouriState.events")
  block nav
  div(style="position:relative; height: 32px")
    .btn-group.btn-group-justified
      a.btn.btn-default.ma(href="/today" class=(todayr?"selected":"") alt="Events by day" title="Events by day") Today
      a.btn.btn-default.mb(href="/week" class=(weekr?"selected":"") alt="Events by week" title="Events by week") Week
      a.btn.btn-default.mc(href="/browse" class=(browser?"selected":"") alt="Browse available calendars" title="Browse available calendars") Browse
    .btn-group.search-btn
      a.btn.btn-default.md(href="/search" class=(search?"selected":"") alt="Search Calendars and Events" title="Search Calendars and Events")
        span.glyphicon.glyphicon-search