extends layout

block head
  style.
    body { color: whitesmoke; background: maroon}
    .container { max-width: 750px }
    .mono { font-family: "Courier New" }

block content
  .container
    .page-header.text-center
      h1 MSU Events
      //-
        each page, index in views
          - page = page.slice(0,-5)
          if index !== 0
            span &nbsp; - &nbsp;
          a(href=page)=page
      small Stay informed about events on your campus.
block footer