head
  if title
    title=title
  link(href="/vendors/bootstrap-3.1.1/bootstrap.min.css", rel="stylesheet")
  meta(http-equiv="Content-Type" content="text/html;charset=utf-8")
  meta(name="viewport" content="initial-scale=1")
  style.
    .container { max-width: 800px; }
    .mono { font-family: "Courier New" }
  block head
body
  include header-group
  .container
    block content
  footer
    include footer-group
    //-
      script(src="/vendors/jquery-2.1.1/jquery-2.1.1.min.js")
      script(src="/vendors/bootstrap-3.1.1/bootstrap.min.js")
      script(src="//localhost:9999/devreload.js")
    include analytics-group
    script(src="/coffee/debug.js")
    block footer
