extends layout

//- Organization needs to be logged in
block content
  .page-header.text-center
    .page-title
      h1=org.name
  .row
    .col-sm-8
      style.
        tfoot tr td, thead tr td { padding: 1em; }
        .action#add-calendar { background: #e9f7e7; cursor: pointer }
        td.action { width: 1em }
      h2 Calendars
      table(style="width:100%")
        thead
          tr
            td Name
            td id
            td.action
        tbody
          for calendar in org.calendars
            tr
              td=calendar.name
              td=calendar.id
              td.action
                span.glyphicon.glyphicon-remove
        tfoot
          tr
            td
              strong Add Calendar
            td
            td.action#add-calendar(role="button")
              span.glyphicon.glyphicon-plus
    .col-sm-4
      h2 Actions
      ul
        li
          a(href="?refresh") Refresh Events
  #add-calendar-modal.modal
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button" data-dismiss="modal")
            span &times;
          h2 Add Calendar
        .modal-body
          form(method="POST")
            div
              label(for="calendar-name") Calendar Name
            div
              input.form-control(name="calendar-name" placeholder="Calendar Alias" type="text")
            br
            div
              label(for="calendar-id") Calendar ID
            div
              input.form-control(name="calendar-id" type="text" placeholder="xxxxxxxxxxxxxxxxxxxxxxxxxx@group.calendar.google.com")
            div
              a(href="/tutorials/linking-google-calendar-with-your-organization" target="_blank") What is this?
            br
            .text-center
              button.btn.btn-default(type="submit") Add Calendar
block footer
  script(src="/vendors/jquery-2.1.1/jquery-2.1.1.min.js")
  script(src="/vendors/bootstrap-3.1.1/bootstrap.min.js")  
  script.
    $("#add-calendar").click(function () {
      $("#add-calendar-modal").modal('show')
    })
