extends layout

//- Organization needs to be logged in
block content
  .page-header.text-center
    .page-title
      h1=disp
  .row
    .col-xs-12
      style.
        tbody tr td, thead tr td { padding: 1em; }
        .action#add-calendar { background: #e9f7e7; cursor: pointer }
        td.action { width: 1em }
      h2 Calendars
      form(method="post")
        table(style="width:100%")
          thead
            tr
              td.action
              td Name
              td.action
          tbody
            for calendar in calendars
              tr
                td(style="background-color:" + calendar.backgroundColor)
                td
                  if calendar.checked
                    a(href="/organization/settings/" + encodeURIComponent(calendar.id))=calendar.summary
                  else
                    span=calendar.summary
                td.action
                  input(type="checkbox" name=calendar.id checked=calendar.checked)
        br
        input.pull-right.btn.btn-default(type="submit" name="submit" value="Update Calendars")

//-block footer
