extends layout

block content
  - views = (["/test-calendars", "/test-organizations"]).concat(views)
  .page-header.text-center
    each page, index in views
      if index !== 0
        span &nbsp; - &nbsp;
      a(href=page)=page